.form {
  width: 100%;
}

.form__row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form__field--row-field {
  width: 45%;
}

.form__field {
  margin-top: var(--margin-l);
  position: relative;
}

.form__label {
  display: block;
  position: absolute;
  top: -7px;
  background-color: #fff;
  width: fit-content;
  padding: 0px var(--padding-xxs);
  margin-left: var(--margin-xs);
  font-weight: 500;
  font-size: var(--font-size-xxs);
  line-height: 100%;
  letter-spacing: 0%;
}

.form__input {
  width: 100%;
  padding: var(--padding-xxs) var(--padding-xs);
  border: 1px solid #000;
  box-sizing: border-box;
  font-weight: 500;
  font-size: var(--font-size-xxs);
  line-height: 100%;
  letter-spacing: 0%;
}

.form__textarea {
  width: 100%;
  padding: var(--padding-xxs) var(--padding-xs);
  border: 1px solid #000;
  font-size: var(--font-size-xxs);
  min-height: 120px;
  resize: none;
  box-sizing: border-box;
}

.form__error {
  font-weight: 500;
  font-size: var(--font-size-xxs);
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--error-color);
  position: absolute;
  left: 0;
  top: 100%;
}

.form__input--error {
  border-color: var(--error-color);
}

@media (max-width: 480px) {
  .form__row {
    flex-direction: column;
  }

  .form__field--row-field {
    width: 100%;
  }
}
