.header {
  background-image: url("../../assets/photos/headerPhoto.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 800px;
  position: relative;
}

.header__social-links {
  position: absolute;
  top: 50%;
  left: -6%;
}

.header__section {
  height: 100%;
}

.header__section__container {
  padding-top: var(--padding-header-section-container);
}

@media (max-width: 768px) {
  .header {
    height: 600px;
    background-position: -900px;
  }

  .header__social-links {
    left: -18%;
  }
}

@media (max-width: 480px) {
  .header__social-links {
    display: none;
  }
}
